# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build logs
*.log
